- require_css "people"
- require_css "jquery.flexbox"

- require_js "jquery.livequery"
- require_js "jquery.form"
- require_js "jquery.confirm"
- require_js "jquery.flexbox"
- require_js "people"

#listing
  .block
    %h1 People
    - for person in @people
      %div{:id => "person_#{person.id}", :class => "person inset"}
        =partial :person, :with => person
      
      
#sidebar.block
  #filter.inset
    #person_types.radiolist
      %p Show
      %ul
        %li= radio_button :name => "person_types", :value => "person", :label => "All People"
        %li= radio_button :name => "person_types", :value => "is_seller", :label => "Sellers"
        %li= radio_button :name => "person_types", :value => "is_buyer", :label => "Buyers"
        %li= radio_button :name => "person_types", :value => "is_debtor", :label => "With Unpaid Balances"
    .status
      Remaining balance is:
      %strong $0

  #payments.inset
    To view or edit a person's payments, click on his or her name in the listing to the left.
  
  #jsontest
  
  #admin.inset
    %ul
      %li
        = link_to "New person", resource(:people, :new), :id => "new_person"
      %li
        = link_to "Refresh Page", resource(:people), :id => "person_index"