- require_css "people"
- require_css "jquery.flexbox"

- require_js "jquery.livequery"
- require_js "jquery.form"
- require_js "jquery.confirm"
- require_js "jquery.flexbox"
- require_js "people"

#listing
  .block
    %h1 People
    - for person in @people
      %div{:id => "person_#{person.id}", :class => "person inset"}
        =partial :person, :with => person
      
      
#sidebar.block
  #filter.inset
    #person_types.radiolist
      %p Show
      %ul
        %li= radio_button :name => "person_types", :value => "person", :label => "All People"
        %li= radio_button :name => "person_types", :value => "is_seller", :label => "Sellers"
        %li= radio_button :name => "person_types", :value => "is_buyer", :label => "Buyers"
        %li= radio_button :name => "person_types", :value => "is_debtor", :label => "With Unpaid Balances"
    .status
      Remaining balance is:
      %strong $0

  #payments.inset
    %h3#person_name {{Name}}
    %table#payments_table
      %tr#payment_header
        %th Type
        %th Amount
      %tr.total
        %td Total Bids:
        %td#purchases_total $0.00
      %tr.total
        %td Total Payments:
        %td#payments_total $0.00
      %tr.total
        %td Balance:
        %td#balance $0.00
      %tr#form_row
        %form{:action => "#", :method => :post, :id => "payment_form"}
          %td
            %select{:name => "payment[type]"}
              %option{:value => "Cash"} Cash
              %option{:value => "Check"} Check
              %option{:value => "Credit Card"} Credit Card
          %td
            %input{:name => "payment[amount]", :size => "6", :id => "bid_amount"}
          %td
            =submit "Pay", :id => "Payment_submit"
    %p.centered
      %strong 
        Total: $
        %span#payments_total
      

  #paymenttip.inset
    To view or edit a person's payments, click on his or her name in the listing to the left.
  
  #admin.inset
    %ul
      %li
        = link_to "New person", resource(:people, :new), :id => "new_person"
      %li
        = link_to "Refresh Page", resource(:people), :id => "person_index"