#listing.block
  - @auctions.each do |type, auctions|
    %div{:id => type, :class => "inset"}
      %h1== #{type.capitalize} Auctions
      - for auction in auctions do
        #div{:id => auction.id, :class => "auction #{auction.status}"}
          %h2{:class => auction.status} link_to auction.name, resource(auction)
        
      
      
#sidebar.block
  #filter.inset
    #types.checklist
      %ul
        - @auctions.each_key do |type|
          %li
            = check_box :name => type, :checked => true, :label => type.capitalize
    #statuses.checklist
      %ul
        %li= check_box :name => "open", :checked => true, :label => "Open"
        %li= check_box :name => "closed", :checked => true, :label => "Closed"

  #detail.inset
    To view or edit an auction, click on its name in the listing to the left.