#listing
  - @auctions.each do |type, auctions|
    %div{:id => type, :class => "block"}
      %h1== #{type} Auctions
      - for auction in auctions do
        #div{:id => auction.id.to_s, :class => "auction #{auction.status} inset"}
          %h2= link_to auction.title, resource(auction)
          %p= auction.description
          %p.inline
            %strong Total Available: 
            =auction.quantity
            %br
            %strong Minimum Bid:
            =auction.minimum_bid.to_currency
      
      
#sidebar.block
  #filter.inset
    #types.checklist 
      %p Auction Types
      %ul
        - @auctions.each_key do |type|
          %li
            = check_box :name => type, :checked => true, :label => type
    #statuses.checklist 
      %p Auction Status
      %ul
        %li= check_box :name => "open", :checked => true, :label => "Open"
        %li= check_box :name => "closed", :checked => true, :label => "Closed"
    .status
      Bidding is currently OPEN.

  #detail.inset
    To view or edit an auction, click on its name in the listing to the left.