- require_css "jquery.flexbox"
- require_css "auctions"

- require_js "jquery.livequery"
- require_js "jquery.form"
- require_js "jquery.confirm"
- require_js "jquery.flexbox"
- require_js "auctions"

#listing
  - @auctions.each do |type, auctions|
    %div{:id => "list_#{type.downcase}", :class => "block"}
      %h1== #{type} Auctions
      - for auction in auctions do
        %div{:id => "auction_#{auction.id}", :class => "auction status_#{auction.status} list_#{type.downcase} inset"}
          =partial :auction, :with => auction
      
      
#sidebar.block
  #filter.inset
    #types.checklist 
      %p Auction Types
      %ul
        - @auctions.each_key do |type|
          %li
            = check_box :name => type, :checked => true, :label => type, :id => "types_#{type}"
    #statuses.checklist 
      %p Auction Status
      %ul
        %li= check_box :name => "open", :checked => true, :label => "Open", :id => "status_open"
        %li= check_box :name => "closed", :checked => true, :label => "Closed", :id => "status_closed"
    .status
      Bidding is currently OPEN.

  #bids.inset
    %h3#bid_title {{Title}}
    %table
      %tr#bid_header
        %th Bidder
        %th Amount
      %tr#form_row
        %form{:action => "#", :method => :post, :id => "bid_form"}
          %td
            #buyer
          %td
            %input{:name => "bid[amount]", :size => "6", :id => "bid_amount"}
          %td
            / This is a horrible hack and I'm embarrassed by it, but Flexbox creation timing sucks
            %input{:type => "hidden", :name => "bid[buyer_id]", :id => "bid_buyer_id"}
            =submit "Bid", :id => "bid_submit"
    %p.centered
      =button "Close Auction", :id => :close_button
            
  #bidtip.inset
    To view or edit an auction, click on its name in the listing to the left.
    
  #admin.inset
    %ul
      %li
        = link_to "New Auction", resource(:auctions, :new), :id => "new_auction"
      %li
        = link_to "Refresh Page", resource(:auctions), :id => "auction_index"